
   @media only screen and (min-width: 601px) {
  .register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-container {
    background-color: #78909c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50vh;
    height: 80vh;
    text-align: center;
  }
  .register-container h2 {
    margin-bottom: 20px;
  }
  .register-page .input-group {
    margin-bottom: 15px;
  }
  .register-page .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .register-page .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px!important;
  }
  .register-button {
    background-color: #26c6da;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  span{
    color: red;
    
  }
}
   @media only screen and (max-width: 600px) {
    .register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-container {
    padding: 20px;
    border-radius: 8px;
    width: 50vh;
    height: 80vh;
    text-align: center;
  }
  
  .register-page .input-group {
    margin-bottom: 15px;
  }
  .register-page .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .register-page .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px!important;
  }
  .register-button {
    background-color: #26c6da;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  span{
    color: red;
    
  }
   }